body {
    margin: 0;
}

.container12 img {
    width: 500px;
}

.pair img {
    width: 250px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    border: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: grey
}

.first {
    background-color: #1F2937;
}

.header {
    display: flex;
}

.logo {
    font-size: 24px;
    color: white;
    margin-right: auto;
}

.container12 {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.container11 {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-main {
    font-size: 48px;
    width: 400px;
    color: white;
}

.subtext {
    font-size: 18px;
    color: grey;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.container21 {
    display: flex;
    justify-content: center;
}

.pair {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third {
    background-color: grey;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1F2937;
}